.zoom {
    padding: 10px;
    transition: transform .2s; /* Animation */
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.4);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .zoom1 {
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform .8s; /* Animation */
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
  
  .zoom1:hover {
    width: 90%;
    height: 90%;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 6%;
    transform: scale(1.3);
    background-color: aqua;
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .zoom2 {
    padding: 10px;
    transition: transform .2s; /* Animation */
    width: 100%;
    height: 90%;
    margin: 0 auto;
  }
  
  .zoom2:hover {
    border-radius: 8px;
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .zoom3 {
    padding: 10px;
    transition: transform .2s; /* Animation */
    width: 90%;
    height: 120%;
    margin: 0 auto;
  }
  
  .zoom3:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  

  .zoom4 {
    padding: 10px;
    transition: transform .3s; /* Animation */
    width: 90%;
    height: 90%;
    
    margin: 0 auto;
  }
  
  .zoom4:hover {
    border-radius: 20px;
    color: azure;
    transform: scale(1.3);
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: blue;
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


  .backcolor:hover:hover {
    background-color: rgb(8, 135, 220);
    color: aliceblue;
  }

  body{
    background: #fff;
  }
  .box {
    transition: box-shadow .5s;
    width: 400px;
    height: 200px;
    border-radius:20px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    
  }
  .box:hover {
    box-shadow: 0 0 40px rgba(33,33,33,.2); 
  }